/*
=================================================
GLOBAL CSS VARIABLES
=================================================
*/
:root {
  /* Colors */
  --bg-color: #ffe2c9;
  --text-color: #333333;
  --accent-color: #572938;
  --secondary-bg-color: #fff0e6;
  --placeholder-color: #808080;

  /* Fonts */
  --main-font: 'Raleway', sans-serif;
  --alt-font: 'Finger Paint', cursive;

  /* Other reusable values */
  --base-font-size: 1.1rem;
  --base-transition: 0.3s;
}

/*
=================================================
GLOBAL STYLES
=================================================
*/
html, body {
  background-color: var(--bg-color);
    font-family: var(--main-font);
}

/*
=================================================
NAVIGATION STYLING
=================================================
*/
.menuTop {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  z-index: 2;
}

.navbar {
  margin: 0;
  padding: 3px 0; 
}

.navbar li {
  display: inline-block;
  margin: 10px;
  padding: 3px 0;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--base-font-size);
  position: relative;
  display: inline-block; 
}

.navbar a span::before,
.navbar a span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  bottom: -3px;
  transition: width 0.3s ease;
  transform-origin: center top;
  transform: scaleX(0);
}

.navbar a span::before { left: 0; }
.navbar a span::after { right: 0; }

.navbar a:hover span::before,
.navbar a:hover span::after,
.navbar a:focus span::before,
.navbar a:focus span::after {
  width: 100%;
  transform: scaleX(1);
}

/* 
=================================================
MOBILE NAVIGATION STYLING
=================================================
*/
/*
.mobile-menu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
  padding: 10px;
  color: var(--accent-color);
} */

#hamburger-btn {
  position: fixed;
  top: 5px;  
  right: 20px;  
  z-index: 1002; 
  text-decoration: none;
 background-color: var(--secondary-bg-color);
  border-radius: 5px;  
}

.mobile-menu {
  display: block;
  font-size: 2rem;
  color: var(--accent-color);
  background-color: var(--secondary-bg-color); 
  padding: 3px 0 10px; 
  border-radius: 5px; 
  width: 35px; 
  height: 30px; 
  text-align: center;
  cursor: pointer; 
  position: relative; 
}


#nav-menu.mobile-active {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  justify-content: center;  
  align-items: center;
  top: 0;
  left: 0;
  background-color: var(--secondary-bg-color);
  z-index: 1000;
}

#nav-menu.mobile-active li a {
  padding: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;  
  width: 100%;
  display: block;
  margin: 10px 0;  
  color: var(--accent-color);
  text-decoration-color: var(--accent-color);
}

#hamburger-btn:hover,
#hamburger-btn:focus {
  text-decoration: none;
}

#nav-menu.mobile-active li a:hover,
#nav-menu.mobile-active li a:focus {
  background-color: transparent;
  outline: none;
  text-decoration-color: var(--accent-color);
}


/*
=================================================
CONTENT STYLES
=================================================
*/
.heading {
  position: absolute;
  top: 30vh;
  left: 80px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1, h2, #socialMedia {
  font-family: var(--alt-font)
}

h1 {
  font-size: 2.8rem;
  margin: 0;
}

.separator {
  width: 100%;
  margin: 10px 0;
  border: none;
  border-top: 2px solid #333333;
}

.section {
  padding: 60px;
  position: relative;
  margin-top: 220px;
}

.content {
  padding-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.photo img {
  float: right;
  transform: rotate(-5deg);
  max-height: calc(100vh - 220px);
  margin-right: 20px;
  margin-top: -40px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 
      inset 10px 10px 70px rgba(255, 226, 201, 0.8),
      inset -10px 10px 70px rgba(255, 226, 201, 0.8),
      inset 10px -10px 70px rgba(255, 226, 201, 0.8),
      inset -10px -10px 70px rgba(255, 226, 201, 0.8);
}

/*
=================================================
SPECIFIC CONTENT STYLING
=================================================
*/
.content h2 {
  font-size: 1.5rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 20px;
}

.content p {
  font-size: var(--base-font-size);
  line-height: 1.5;
  margin: 10px auto;
  color: var(--text-color);
}

.content img {
  max-width: 100%;
  overflow: hidden;
}

#about {
  margin-right: 600px;
}

#skills {
  margin-right: 400px;
  margin-left: -60px;
}

#skillsTitle {
  font-size: 1.5rem;
}

#skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#skills li {
  text-align: center;
  margin: 10px;
}

#skills img.logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

/*
=================================================
PROJECTS STYLING
=================================================
*/
#projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 100%;
  justify-content: space-between;
  background-color: var(--secondary-bg-color);
  padding: 0 10px;
}

#projects h2 {
  padding-top: 50px;
}

#projects .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(50% - 20px);
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picture {
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 250px;
  object-fit: scale-down;
  background-color: white;
  margin-bottom: 10px;
}

#projects .container .information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  max-width: 90%; /* Restrict the width */
  margin: 0 auto; /* Center it if it's smaller than max-width */

}

#projects .container h3 {
  font-size: 1.8rem;
  margin: 0;
  white-space: nowrap;
  color: var(--accent-color);
}

#projects .container .onTheWeb {
  margin-top: 20px;
}

#projects .container .onTheWeb a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
  padding: 0.5rem 2rem;
  border: 1px solid #572938;
  border-radius: 5px;
}

#projects .container .onTheWeb a:hover,
#projects .container .onTheWeb a:focus {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

#projects .container .onTheWeb a + a {
  margin-left: 10px;
}

/*
=================================================
CONTACT SECTION STYLING
=================================================
*/
#contact {
  margin-top: -80px;
}

.smallText {
  font-size: var(--base-font-size);
  font-weight: normal;
}

input, textarea {
  border: none;
  padding: 2rem;
  font-family: "Overlock", Arial, Helvetica, sans-serif;
  width: 40%;
  height: 30%;
  transition: 200ms;
  padding-bottom: 0.5rem;
  margin-left: 20px;
  border-bottom: 1px solid #333333;
  background: transparent;
  color: var(--text-color);
  font-size: 1.2rem;
  box-shadow: none;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom: 2px solid var(--accent-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}


/*
=================================================
SUBMIT BUTTON STYLING
=================================================
*/
.buttonContainer {
  margin-top: 2.5rem;
}

input[type="submit"] {
  text-decoration: none;
  background-color: transparent;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  width: 150px;
  transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--bg-color);
}

::placeholder {
  color: var(--placeholder-color);
}

.message {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
  margin-top: 0.5rem;
}

.message.visible {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: var(--base-font-size);
  opacity: 1;
  pointer-events: all;
}

/*
=================================================
ICONS STYLING
=================================================
*/
#followTitle {
  margin-left: -220px;
  font-weight: lighter;
  font-size: var(--base-font-size);
}

h3#titleForm {
  font-weight: bold;
  font-size: var(--base-font-size);
  margin-left: -105px;
}

.socialIcons {
  list-style: none;
  padding: 0;
  margin: -10px 0 0;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.socialIcons img.icon {
  width: 30px;
  height: auto;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 40px;
  transition: transform 0.2s, color 0.2s; 
}

.socialIcons img.icon:hover,
.socialIcons img.icon:focus {
  transform: scale(1.1);
}


