/* Reset default styles for the body */
body {
  margin: 0;
  padding: 0;
  background-color: #ffe2c9;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
  font-family: 'Finger Paint', cursive;
}

#socialMedia {
  font-family: 'Finger Paint', cursive;
}

/* Style the Menu bar */
.menuTop {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  z-index: 2;
}

.navbar {
  text-decoration: none;
  color: #333333;
  margin: 10px;
  font-size: 1.1rem; /* consider 1rem*/
}

/* Style the heading */
.heading {
  position: absolute;
  top: 30vh;
  left: 80px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 2.8rem;
  margin: 0;
}

.separator {
  width: 100%;
  margin: 10px 0;
  border: none;
  border-top: 2px solid #333333;
}

/* Style the content-container and image */
.section {
  padding: 60px;
  position: relative;
  margin-top: 220px;
}

/* Maintain a consistent top margin for all sections */
.content {
  padding-left: 20px;
  margin-top: 20px; 
  margin-right: 20px;
}

.photo img {
  float: right;
  transform: rotate(-5deg);
  max-height: calc(100vh - 220px);
  margin-right: 20px;
  margin-top: -30px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow:
    inset 10px 10px 70px rgba(255, 226, 201, 0.8),
    inset -10px 10px 70px rgba(255, 226, 201, 0.8),
    inset 10px -10px 70px rgba(255, 226, 201, 0.8),
    inset -10px -10px 70px rgba(255, 226, 201, 0.8);
}

/* Common style for all content sections */
.content {
  padding-left: 20px;
}

.content h2 {
  font-size: 1.5rem;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.1rem; /* consider 1rem*/
  line-height: 1.5;
  margin: 10px auto;
  color: #333333;
}

.content img {
  max-width: 100%;
  height: auto;
}

/* Style about and skills section */
#about {
  margin-right: 600px;
}

/* Style skills section */
#skills {
  margin-right: 400px;
  margin-left: -60px;
}

#skillsTitle {
  font-size: 1.5rem;
}

#skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#skills li {
  text-align: center;
  margin: 10px;
}

#skills img.logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.centeredContent #clickBtn {
  margin-top: 60px;
}

/* Style project button */
#clickBtn {
  text-decoration: none;
  background-color: transparent;
  color: #64313e;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: 1px solid #572938;
  border-radius: 5px;
}

#clickBtn:hover {
  background-color: #572938; /*#800020;*/ /*#572938*/ /*#64313e*/
  color: #ffe2c9;
}

/* Style Projects section */
#projects {
  margin-top: -50px;
  margin-left: 50px;
  margin-right: 400px;
}

.centeredContent p {
  font-size: 1.1rem; 
  margin: 0;
}

.centeredContent .scroll-button {
  margin-top: 10px;
}

.centeredContent .handEmoji {
  margin-top: 10px;
  font-size: 3rem;
}

/* Styles for the project card container */
.projectCards {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  margin-top: 300px;
  background: #fff0e6;
}

.hidden {
  display: none;
}

.picture {
  border-radius: 50%; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
  width: 250px;
  height: 250px;
  object-fit: scale-down; 
  background-color: white;
  overflow: hidden;
  margin-bottom: 10px;
}

#imgBackground {
  background-color: black;
}

.projectContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

#learning .container {
  flex: 1 1 calc(50% - 20px); 
  margin: 10px;
  padding-top: 5px;
}

#learning .container .information {
  flex: 1;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  justify-content: center;
}

#learning .container h3 {
  font-size: 1.8rem;
  margin: 0;
  white-space: nowrap;
  color: #572938;
}

#learning .container .onTheWeb {
  margin-top: 20px;
}

#learning .container .onTheWeb a {
  text-decoration: none;
  color: #572938;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
  padding: 0.5rem 2rem;
  border: 1px solid #572938;
  border-radius: 5px;
}

#learning .container .onTheWeb a:hover {
  background-color: #572938;
  color: #fff0e6;
  border: 1px solid #572938;
}

#learning .container .onTheWeb a + a {
  margin-left: 10px;
}

.container.show-projects {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Style Contact section */
#contact {
  margin-top: -80px;
}

.smallText {
  font-size: 1.1rem;
  font-weight: normal;
}

input, textarea {
  border: none;
  padding: 2rem;
  font-family: "Overlock", Arial, Helvetica, sans-serif;
  width: 40%;
  height: 30%;
  transition: 200ms;
  padding-bottom: 0.5rem;
  margin-left: 20px;
}

input[type="text"],
input[type="email"],
input[type="text"]:not(output):not(:focus),
input[type="email"]:not(output):not(:focus),
textarea {
  border-bottom: 1px solid #333333;
  background: transparent;
  color: #333333;
  font-size: 1.2rem;
  box-shadow: none;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:not(output):focus,
input[type="email"]:not(output):focus,
textarea:focus {
  border-bottom: 2px solid #572938;
}

/* Style for the submit button container */
.buttonContainer {
  margin-top: 2.5rem;
}

input[type="submit"] {
  text-decoration: none;
  background-color: transparent;
  color: #572938;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: 1px solid #64313e;
  border-radius: 5px;
  width: 150px;
  transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  cursor: pointer;
  background-color: #572938;
  color: #ffe2c9;
}

::placeholder {
  color:  #808080;
}

.message {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
  margin-top: 0.5rem;
}

.message.visible {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  opacity: 1;
  pointer-events: all;
}

/* Style the icon images */
#followTitle {
  margin-left: -200px;
  font-weight: lighter;
  font-size: 1.1rem;
}

#titleForm {
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: -105px;
}

.socialIcons {
  list-style: none;
  padding: 0;
  margin: -10px 0 0;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.socialIcons li {
  margin: 0; /* Remove any default margins */
}

.socialIcons img.icon {
  width: 30px;
  height: auto;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 40px;
  transition: transform 0.2s, color 0.2s; 
}

.socialIcons img.icon:hover {
  transform: scale(1.1);
}
