/* Reset default styles for the body */
body {
    margin: 0;
    padding: 0;
    background-color: #FFE2C9;
}

/* Style the Menu bar */
.topnav {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    z-index: 2;
}

.navbar-link {
    text-decoration: none;
    color: black;
    margin: 10px;
}

/* Style the heading */
.heading-wrapper {
    position: absolute;
    top: 30vh; 
    left: 80px;
    z-index: 1;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

.separator {
    width: 100%;
    margin: 10px auto;
    border: none;
    border-top: 2px solid #595858;
}

/* Style the content-container and image*/
.content-container {
    padding: 60px;
    position: relative;
    margin-top: 220px; 
}

.profile img {
    float: right;
    transform: rotate(-5deg); 
    max-height: calc(100vh - 220px);
    margin-right: 20px;
    margin-top: -30px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow:
        inset 10px 10px 70px rgba(255, 226, 201, 0.8), /* Top right shadow */
        inset -10px 10px 70px rgba(255, 226, 201, 0.8), /* Top left shadow */
        inset 10px -10px 70px rgba(255, 226, 201, 0.8), /* Bottom right shadow */
        inset -10px -10px 70px rgba(255, 226, 201, 0.8); /* Bottom left shadow */
}

/* Style skills section */
#content-skills h2 {
    font-size: 24px; /* Adjust the font size as needed */
    color: #333; /* Adjust the text color as needed */
    text-align: center; /* Center the title horizontally */
    margin-bottom: 20px; /* Add spacing below the title */
}


#content-skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

#content-skills li {
    text-align: center;
    margin: 10px; 
}

#content-skills img.skills-Logo {
    width: 80px; 
    height: 80px;
}

#content-skills p {
    margin-top: 5px; 
    font-size: 16px; 
}





